<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "/assets/profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. ABC</h1>
    <p>Yuccie actually vegan messenger bag farm-to-table stumptown. Occupy leggings before they sold out tofu, ugh
      try-hard banh mi food truck cred narwhal viral umami heirloom. Pitchfork small batch four dollar toast, celiac
      bicycle rights ramps kale chips truffaut forage tofu mumblecore hoodie paleo pickled. Keytar polaroid brooklyn,
      food truck forage squid quinoa ennui shabby chic cardigan chartreuse tousled umami XOXO. Ramps meggings mixtape
      truffaut pug, actually pinterest. Taxidermy kale chips mumblecore beard cliche mustache. Locavore organic crucifix
      skateboard.</p>
  </div>
</div>